
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Required to allow automation to be created via UI
automation ui : !include automations.yaml

script: !include scripts.yaml
scene: !include scenes.yaml

# Template entries moved to separate file template.yaml.  Do not place template entires in this (configuration.yaml) file
template: !include template.yaml

#### START Solax Automation Block ####

# Comment / uncomment (#) below automation file to used based on inverter type.
# Current types are "default" or "solax hybrid"

#automation solax: !include_dir_merge_list solax_automation/default_inverter/automations/
automation solax: !include_dir_merge_list solax_automation/solax_hybrid_inverter/automations/

# Do not change these
input_boolean: !include solax_automation/helpers/input_boolean.yaml
input_button: !include solax_automation/helpers/input_button.yaml
input_datetime: !include solax_automation/helpers/input_datetime.yaml
input_number: !include solax_automation/helpers/input_number.yaml
utility_meter: !include solax_automation/helpers/utility_meter.yaml

var:
  total_solar_battery_cost_saving:
    friendly_name: 'Total Solar Battery Cost Saving'
    initial_value: 0
    icon: mdi:cash
    unit_of_measurement: "£"

# Should likley be moved
sensor:
  - platform: template
    sensors:
      octopus_flux_import_cost:
        friendly_name: Octopus Flux Import Cost
        unit_of_measurement: GBP/kWh
        value_template: >
          {% set tariff = { "Peak": 0.2718, "Day": 0.2718, "OffPeak": 0.2718 } %}
          {% set time = { "month": (now().strftime('%m') | int), "hour": (now().strftime('%H') | int), "weekday": (now().weekday() | int ) } %}
          {%if (time.hour >=2) and (time.hour <5) %}
            {{ tariff.OffPeak }}
          {%elif (time.hour >=16) and (time.hour < 19) %}
            {{ tariff.Peak }}
          {% else %}
            {{ tariff.Day }}
          {% endif %}

      octopus_flux_export_cost:
        friendly_name: Octopus Flux Export Cost
        unit_of_measurement: GBP/kWh
        value_template: >
          {% set tariff = { "Peak": 0.0, "Day": 0.0, "OffPeak": 0.0 } %}
          {% set time = { "month": (now().strftime('%m') | int), "hour": (now().strftime('%H') | int), "weekday": (now().weekday() | int ) }  %}
          {%if (time.hour >=2) and (time.hour <5) %}
            {{ tariff.OffPeak }}
          {%elif (time.hour >=16) and (time.hour < 19) %}
            {{ tariff.Peak }}
          {% else %}
            {{ tariff.Day }}
          {% endif %}

#### END Solax Automation Block ####



homeassistant:
  allowlist_external_dirs:
    - "/config"

# Text to speech
tts:
  - platform: google_translate



